{% extends "main/base.html" %}

{% block title %}3D Prints{% endblock %}

{% block content %}
<br>
<br>
<!-- Gallery -->
<div class="row ">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 col-md-4 img-hover">
    <img
      src="/static/3d-prints/20200502_165727.jpg"
      class="w-100 shadow-1-strong rounded mb-4 item1 item2"
      alt=""
    />
    <img
      src="/static/3d-prints/20200808_121457.jpg"
      class="w-100 shadow-1-strong rounded mb-4 item1 item2"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0 col-md-4 img-hover">
    <img
      src="/static/3d-prints/20200809_133918.jpg"
      class="w-100 shadow-1-strong rounded mb-4 item1 item2"
      alt=""
    />
    <img
      src="/static/3d-prints/ear-savers.jpg"
      class="w-100 shadow-1-strong rounded mb-4 item1 item2"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0 col-md-4 img-hover">
    <img
      src="/static/3d-prints/hand-sanitizer.jpg"
      class="w-100 shadow-1-strong rounded mb-4 item1 item2"
      alt=""
    />
    <img
      src="/static/3d-prints/20201107_160806.jpg"
      class="w-100 shadow-1-strong rounded mb-4 item1 item2"
      alt=""
    />
  </div>
      <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 col-md-4 img-hover">
    <img
      src="/static/3d-prints/20201107_213830.jpg"
      class="w-100 shadow-1-strong rounded mb-4 item1 item2"
      alt=""
    />
    <img
      src="/static/3d-prints/20210307_131832.jpg"
      class="w-100 shadow-1-strong rounded mb-4 item1 item2"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0 col-md-4 img-hover">
    <img
      src="/static/3d-prints/20201203_215350.jpg"
      class="w-100 shadow-1-strong rounded mb-4 item1 item2"
      alt=""
    />
    <img
      src="/static/3d-prints/20201203_215357.jpg"
      class="w-100 shadow-1-strong rounded mb-4 item1 item2"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0 col-md-4 img-hover">
    <img
      src="/static/3d-prints/20201213_112733.jpg"
      class="w-100 shadow-1-strong rounded mb-4 item1 item2"
      alt=""
    />
    <img
      src="/static/3d-prints/20201029_102712.jpg"
      class="w-100 shadow-1-strong rounded mb-4 item1 item2"
      alt=""
    />
  </div>

      <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 col-md-4 img-hover">
    <img
      src="/static/3d-prints/IMG-20201107-WA0010.jpeg"
      class="w-100 shadow-1-strong rounded mb-4 item1 item2"
      alt=""
    />
    <img
      src="/static/3d-prints/IMG-20201203-WA0004.jpeg"
      class="w-100 shadow-1-strong rounded mb-4 item1 item2"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0 col-md-4 img-hover">
    <img
      src="/static/3d-prints/20210327_202927.jpg"
      class="w-100 shadow-1-strong rounded mb-4 item1 item2"
      alt=""
    />
    <img
      src="/static/3d-prints/IMG-20201116-WA0002.jpeg"
      class="w-100 shadow-1-strong rounded mb-4 item1 item2"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0 col-md-4 img-hover">
    <img
      src="/static/3d-prints/IMG-20200808-WA0021.jpg"
      class="w-100 shadow-1-strong rounded mb-4 item1 item2"
      alt=""
    />
    <img
      src="/static/3d-prints/IMG-20201107-WA0002.jpeg"
      class="w-100 shadow-1-strong rounded mb-4 item1 item2"
      alt=""
    />
  </div>

  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 col-md-4 img-hover">
    <img
      src="/static/3d-prints/IMG-20200905-WA0006.jpeg"
      class="w-100 shadow-1-strong rounded mb-4 item1 item2"
      alt=""
    />
    <img
      src="/static/3d-prints/IMG-20200801-WA0004.jpeg"
      class="w-100 shadow-1-strong rounded mb-4 item1 item2"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0 col-md-4 img-hover">
    <img
      src="/static/3d-prints/IMG-20201107-WA0006.jpeg"
      class="w-100 shadow-1-strong rounded mb-4 item1 item2"
      alt=""
    />
    <img
      src="/static/3d-prints/qwerkod.png"
      class="w-100 shadow-1-strong rounded mb-4 item1 item2"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0 col-md-4 img-hover">
    <img
      src="/static/3d-prints/20210327_204242.jpg"
      class="w-100 shadow-1-strong rounded mb-4 item1 item2"
      alt=""
    />
    <img
      src="/static/3d-prints/20210327_203023.jpg"
      class="w-100 shadow-1-strong rounded mb-4 item1 item2"
      alt=""
    />
  </div>

  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 col-md-4 img-hover">
    <img
      src="/static/3d-prints/20201108_145245.jpg"
      class="w-100 shadow-1-strong rounded mb-4 item1 item2"
      alt=""
    />
    <img
      src="/static/3d-prints/20201222_001006.jpg"
      class="w-100 shadow-1-strong rounded mb-4 item1 item2"
      alt=""
    />
  </div>

  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 col-md-4 img-hover">
    <img
      src="/static/3d-prints/20200903_142736.jpg"
      class="w-100 shadow-1-strong rounded mb-4 item1 item2"
      alt=""
    />
  </div>

</div>
{% endblock %}