{% extends "main/base.html" %}
{% block title %}Photography{% endblock %}

{% block content %}
<br>
<div class="container-fluid">
    <div class="row mt-04">
        <div class="item col-sm-6 col-md-4 mb-3">
            <a href="/static/sony-drone/tourdeslowakei.jpg" class="fancybox" data-fancybox="gallery1">
                <img class="rounded-circle"
                        src="/static/sony-drone/tourdeslowakei.jpg" width="100%" height="100%">
            </a>
        </div>

        <div class="item col-sm-6 col-md-4 mb-3">
            <a href="/static/sony-drone/zakopane.jpg" class="fancybox" data-fancybox="gallery1">
                <img class="img-thumbnail"
                        src="/static/sony-drone/zakopane.jpg" width="100%" height="100%">
            </a>
        </div>

        <div class="item col-sm-6 col-md-4 mb-3">
            <a href="/static/sony-drone/bologna.jpg" class="fancybox" data-fancybox="gallery1">
                <img class="img-thumbnail"
                        src="/static/sony-drone/bologna.jpg" width="100%" height="100%">
            </a>
        </div>

        <div class="item col-sm-6 col-md-4 mb-3">
            <a href="/static/sony-drone/lodka.jpg" class="fancybox" data-fancybox="gallery1">
                <img class="img-thumbnail"
                        src="/static/sony-drone/lodka.jpg" width="100%" height="100%">
            </a>
        </div>

        <div class="item col-sm-6 col-md-4 mb-3">
            <a href="/static/sony-drone/bardejovvecer.jpg" class="fancybox" data-fancybox="gallery1">
                <img class="img-thumbnail"
                        src="/static/sony-drone/bardejovvecer.jpg" width="100%" height="100%">
            </a>
        </div>

        <div class="item col-sm-6 col-md-4 mb-3">
            <a href="/static/sony-drone/DJI_0045-HDR.jpg" class="fancybox" data-fancybox="gallery1">
                <img class="img-thumbnail"
                        src="/static/sony-drone/DJI_0045-HDR.jpg" width="100%" height="100%">
            </a>
        </div>

        <div class="item col-sm-6 col-md-4 mb-3">
            <a href="/static/sony-drone/bjPanorama.jpg" class="fancybox" data-fancybox="gallery1">
                <img class="img-thumbnail"
                        src="/static/sony-drone/bjPanorama.jpg" width="100%" height="100%">
            </a>
        </div>

        <div class="item col-sm-6 col-md-4 mb-3">
            <a href="/static/sony-drone/panorama.jpg" class="fancybox" data-fancybox="gallery1">
                <img class="rounded img-thumbnail"
                        src="/static/sony-drone/panorama.jpg" width="100%" height="100%">
            </a>
        </div>

        <div class="item col-sm-6 col-md-4 mb-3">
            <a href="/static/sony-drone/budapest.jpg" class="fancybox" data-fancybox="gallery1">
                <img class="rounded img-thumbnail"
                        src="/static/sony-drone/budapest.jpg" width="100%" height="100%">
            </a>
        </div>
    </div>
</div>

{% endblock %}
